<div class="mt-4">
    <ul class="list-group">

        <li routerLink= "home"
        routerLinkActive="router-link-active" 
        class="list-group-item">Sobre Nosotros</li>
    
        <li routerLink= "country"
        routerLinkActive="router-link-active" 
        class="list-group-item">País</li>
    
        <li routerLink="currency" routerLinkActive="router-link-active"
        class="list-group-item">moneda</li>
    
        <li routerLink="language" routerLinkActive="router-link-active"
        class="list-group-item">Lenguaje</li>
    
        <li  routerLink="info" routerLinkActive="router-link-active"
        class="list-group-item">Detalles</li>
    </ul>
    </div>