<div class="text-center">
<h1>About us</h1>
</div>

<div class="text-center ml-2">
    <router-outlet name="equipo"></router-outlet>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Harum voluptates, in provident, minima praesentium et quasi sint possimus molestias rem aspernatur delectus velit iste fugiat ad quaerat expedita laudantium laboriosam.</p>

    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Asperiores laborum iure, deserunt quasi dicta expedita error assumenda voluptatibus unde dignissimos, animi ratione saepe sit, aut ducimus placeat? Repellat, velit adipisci?Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus, minima! Maxime soluta eos officia error. Quidem unde modi, id qui tenetur cumque quos est beatae doloremque? Ea iure ad ex.</p>
</div>

<div class="text-center">
    <button 
    routerLink="outlets:proyectos" routerLinkActive="router-link-active" 
    class="btn btn-primary me-2">Próximos proyectos</button>
    <button routerLink='equipo' routerLinkActive="router-link-active"
    class="btn btn-primary ">Nuestro equipo</button>
</div>

<div>
    
</div>